/* ===============================
   Responsive CSS
   =============================== */

/* ---------- Tablet Devices ---------- */
@media screen and (min-width: 576px) and (max-width: 820px) {

  .logo {
    padding: 0 3rem;
  }

  .hamburger {
    display: block;
    padding: 0 3rem;
  }

  .menu {
    position: absolute;
    right: 0;
    top: 75px;
    padding: 0 3rem;
    background-image: linear-gradient(180deg, #74D7BB, #53C8B6, #35A99C);
    display: none;
    transition: all 0.25s ease;
  }

  .menu .menu-list {
    flex-direction: column;
  }

  .portfolio {
    padding: 0;
  }

  .about {
    flex-direction: column;
  }

  .about .about-text {
    padding: 2rem;
  }

  .about .about-image img {
    padding: 2rem;
  }

  .services {
    padding: 0;
  }

  .my-row {
    gap: 10px;
  }

  .my-row .my-col {
    text-align: center;
    width: 35%;
  }
}


/* ---------- Mobile Devices ---------- */
@media screen and (min-width: 280px) and (max-width: 576px) {

  .hero {
    justify-content: center;
    color: #ffffff;
    background-image: radial-gradient(
        circle,
        rgb(15 14 14 / 30%),
        rgb(102 96 96 / 40%),
        rgb(163 160 160 / 16%)
      ),
      url('./images/heroImg3.avif');
    background-size: cover;
    background-position: center;
  }

  .sub-heading {
    color: #fff9f9cc;
  }

  .hero .intro-buttons {
    gap: 20px;
  }

  .btn {
    padding: 10px 30px;
  }

  .logo {
    padding: 0 2rem;
  }

  .hamburger {
    display: block;
    padding: 0 2rem;
  }

  .menu {
    position: absolute;
    right: 0;
    top: 75px;
    padding: 0 2rem;
    background-image: linear-gradient(180deg, #35A99C, #53C8B6, #74D7BB);
    display: none;
    transition: all 0.25s ease;
  }

  .menu .menu-list {
    flex-direction: column;
  }

  .portfolio {
    padding: 0;
  }

  .about {
    flex-direction: column;
  }

  .about .about-text {
    width: 90%;
    padding: 1rem;
  }

  .about .about-image img {
    width: 90%;
    padding: 1rem;
  }

  .services {
    padding: 0;
  }

  .my-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
    gap: 1rem;
  }

  .my-row .my-col {
    text-align: center;
    width: 100%;
  }

  .contact {
    padding: 0;
  }

  .contact-content {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .contact-form-container,
  .contact-details {
    width: 80%;
  }

  .contact-form .form-controls,
  .contact-form .form-btn {
    width: 100%;
  }

  .footer-menu {
    padding: 0 2rem;
  }

  .footer-list-items {
    margin: 0;
  }
}
