/* ===============================
   Responsive CSS (FINAL)
   =============================== */

/* ---------- Tablet Devices ---------- */
@media screen and (min-width: 576px) and (max-width: 820px) {

  .logo {
    padding: 0 3rem;
  }

  .menu {
    padding: 0 3rem;
  }

  .hero .intro {
    margin: 0 3rem;
    text-align: center;
  }

  .about {
    flex-direction: column;
    text-align: center;
  }

  .about .about-text {
    width: 100%;
    padding: 2.5rem;
  }

  .services {
    padding: 0 2rem;
  }

  .my-row {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }

  .my-row .my-col {
    width: 45%;
  }

  .contact-box {
    margin: 2rem;
  }
}


/* ---------- Mobile Devices ---------- */
@media screen and (min-width: 280px) and (max-width: 576px) {

  .logo {
    padding: 0 1.5rem;
  }

  .menu {
    padding: 0 1.5rem;
  }

  .hero {
    justify-content: center;
    text-align: center;
  }

  .hero .intro {
    margin: 0 1.5rem;
  }

  .sub-heading {
    color: #555;
  }

  .about {
    flex-direction: column;
    text-align: center;
  }

  .about .about-text {
    width: 100%;
    padding: 1.5rem;
  }

  .services {
    padding: 0 1.5rem;
  }

  .my-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .my-row .my-col {
    width: 100%;
  }

  .contact {
    padding: 2rem 1rem;
  }

  .contact-box {
    margin: 0;
    padding: 1.5rem;
  }

  .social-icons {
    justify-content: center;
  }

  .footer {
    padding: 1.5rem;
    text-align: center;
  }
}
